.App {
  padding: 10px;

}
.chat-window {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  overflow: scroll;
}
.chat-bar {
  width: 400px;
  height: 20px;
  border: 1px solid black;
  padding: 0px;
}